
<style>
    body{
        background: antiquewhite;
        text-align: center;
    }
</style>
<h1> DARN.......</h1>
<br/>
<h2>{{error.status}} Page {{message}} </h2>

<br/><br/>
<h3 style="color: brown">now lets get technical.. :)</h3>
<pre>{{error.stack}}</pre>
